<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.example.xamarin.sample.gamekitsamplewwdc2013</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleDisplayName</key>
	<string>ButtonTapper3000</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
</dict>
</plist>
