<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>bikes</key>
<array>
<dict>
<key>lat</key>
<real>37.808542461852035</real>
<key>long</key>
<real>-122.41354889535489</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80850819261321</real>
<key>long</key>
<real>-122.4141778369151</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.808294009510277</real>
<key>long</key>
<real>-122.41527306273548</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.808254028682754</real>
<key>long</key>
<real>-122.41601767176421</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806476987725425</real>
<key>long</key>
<real>-122.41376762744851</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806344454692741</real>
<key>long</key>
<real>-122.41370996511159</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806260240829218</real>
<key>long</key>
<real>-122.41368200756155</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806152557442246</real>
<key>long</key>
<real>-122.41364007131649</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806883782716596</real>
<key>long</key>
<real>-122.41216619515379</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806686886801479</real>
<key>long</key>
<real>-122.41208739380835</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806852652972594</real>
<key>long</key>
<real>-122.4120923188642</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806159482532017</real>
<key>long</key>
<real>-122.41702863404177</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806217857814495</real>
<key>long</key>
<real>-122.4168004613514</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806245328545145</real>
<key>long</key>
<real>-122.41649840420388</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806237602406846</real>
<key>long</key>
<real>-122.41664943277765</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806199830150568</real>
<key>long</key>
<real>-122.4168982496473</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806092522562317</real>
<key>long</key>
<real>-122.41687977855787</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806132870217432</real>
<key>long</key>
<real>-122.41671245188506</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806270522290028</real>
<key>long</key>
<real>-122.41536721913532</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806167852957309</real>
<key>long</key>
<real>-122.41534250537647</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806092897988805</real>
<key>long</key>
<real>-122.41531938603013</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806023611788433</real>
<key>long</key>
<real>-122.41530344168612</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.805948656644695</real>
<key>long</key>
<real>-122.41528430844403</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80540988172141</real>
<key>long</key>
<real>-122.41358367044165</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.804169469489018</real>
<key>long</key>
<real>-122.41323811392559</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.803967057861108</real>
<key>long</key>
<real>-122.41492131541673</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.805224326796505</real>
<key>long</key>
<real>-122.41514742026504</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.804486147376743</real>
<key>long</key>
<real>-122.41501090414313</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.804701871831568</real>
<key>long</key>
<real>-122.41345589982076</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.803108506227147</real>
<key>long</key>
<real>-122.4113553868039</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.803546703936156</real>
<key>long</key>
<real>-122.41145350775737</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.803962989451868</real>
<key>long</key>
<real>-122.41151323364011</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80484931569606</real>
<key>long</key>
<real>-122.41166884072558</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.805071780409463</real>
<key>long</key>
<real>-122.41056178003518</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80500099625516</real>
<key>long</key>
<real>-122.41078575185117</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.805038663597152</real>
<key>long</key>
<real>-122.4101089303214</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.804829260132145</real>
<key>long</key>
<real>-122.4118889730247</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807385015006425</real>
<key>long</key>
<real>-122.41404980880694</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807429307712994</real>
<key>long</key>
<real>-122.41381046972714</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807659288916824</real>
<key>long</key>
<real>-122.4138816245887</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807654178231182</real>
<key>long</key>
<real>-122.41409940162214</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807147196510066</real>
<key>long</key>
<real>-122.41545037366545</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807160825045891</real>
<key>long</key>
<real>-122.41573499311171</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807419767762454</real>
<key>long</key>
<real>-122.41576086760682</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807392510705895</real>
<key>long</key>
<real>-122.41554740302212</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806986804878271</real>
<key>long</key>
<real>-122.41378664362954</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807548119046317</real>
<key>long</key>
<real>-122.41219557024961</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807766174991613</real>
<key>long</key>
<real>-122.41223006954355</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807548119046317</real>
<key>long</key>
<real>-122.41243922167949</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80255467268104</real>
<key>long</key>
<real>-122.41457269927989</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.802500241461352</real>
<key>long</key>
<real>-122.41482888050143</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.803238904327131</real>
<key>long</key>
<real>-122.41643403022073</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.801068178317763</real>
<key>long</key>
<real>-122.41254708911714</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.800826634754443</real>
<key>long</key>
<real>-122.41283125659538</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.800869257468896</real>
<key>long</key>
<real>-122.41420960605107</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806903334812901</real>
<key>long</key>
<real>-122.41033876817218</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807059140442952</real>
<key>long</key>
<real>-122.41068766440364</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807294095304307</real>
<key>long</key>
<real>-122.41482682184105</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80735409019438</real>
<key>long</key>
<real>-122.41460948907898</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807450288821038</real>
<key>long</key>
<real>-122.41486871733709</real>
<key>type</key>
<integer>0</integer>
</dict>
<dict>
<key>lat</key>
<real>37.807478217431104</real>
<key>long</key>
<real>-122.41468673382305</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.80617220559143</real>
<key>long</key>
<real>-122.41379709205859</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806351842028583</real>
<key>long</key>
<real>-122.41383843071553</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806279520930595</real>
<key>long</key>
<real>-122.41382514329371</real>
<key>type</key>
<integer>1</integer>
</dict>
<dict>
<key>lat</key>
<real>37.806456240929734</real>
<key>long</key>
<real>-122.41384950356704</real>
<key>type</key>
<integer>0</integer>
</dict>
</array>
<key>region</key>
<array>
<real>37.805031541354815</real>
<real>-122.41363291721927</real>
<real>0.0097887105185137102</real>
<real>0.008167393319212124</real>
</array>
</dict>
</plist>

