<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bikes</key>
	<array>
		<dict>
			<key>lat</key>
			<real>37.808542461852</real>
			<key>long</key>
			<real>-122.413548895355</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8085081926132</real>
			<key>long</key>
			<real>-122.414177836915</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8082940095103</real>
			<key>long</key>
			<real>-122.415273062735</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8082540286828</real>
			<key>long</key>
			<real>-122.416017671764</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8064769877254</real>
			<key>long</key>
			<real>-122.413767627449</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8063444546927</real>
			<key>long</key>
			<real>-122.413709965112</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062602408292</real>
			<key>long</key>
			<real>-122.413682007562</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8061525574422</real>
			<key>long</key>
			<real>-122.413640071316</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8068837827166</real>
			<key>long</key>
			<real>-122.412166195154</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8066868868015</real>
			<key>long</key>
			<real>-122.412087393808</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8068526529726</real>
			<key>long</key>
			<real>-122.412092318864</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.806159482532</real>
			<key>long</key>
			<real>-122.417028634042</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062178578145</real>
			<key>long</key>
			<real>-122.416800461351</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062453285451</real>
			<key>long</key>
			<real>-122.416498404204</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062376024068</real>
			<key>long</key>
			<real>-122.416649432778</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8061998301506</real>
			<key>long</key>
			<real>-122.416898249647</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8060925225623</real>
			<key>long</key>
			<real>-122.416879778558</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8061328702174</real>
			<key>long</key>
			<real>-122.416712451885</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80627052229</real>
			<key>long</key>
			<real>-122.415367219135</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8061678529573</real>
			<key>long</key>
			<real>-122.415342505376</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8060928979888</real>
			<key>long</key>
			<real>-122.41531938603</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8060236117884</real>
			<key>long</key>
			<real>-122.415303441686</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8059486566447</real>
			<key>long</key>
			<real>-122.415284308444</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8054098817214</real>
			<key>long</key>
			<real>-122.413583670442</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.804169469489</real>
			<key>long</key>
			<real>-122.413238113926</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8039670578611</real>
			<key>long</key>
			<real>-122.414921315417</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8052243267965</real>
			<key>long</key>
			<real>-122.415147420265</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8044861473767</real>
			<key>long</key>
			<real>-122.415010904143</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8047018718316</real>
			<key>long</key>
			<real>-122.413455899821</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8031085062271</real>
			<key>long</key>
			<real>-122.411355386804</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8035467039362</real>
			<key>long</key>
			<real>-122.411453507757</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8039629894519</real>
			<key>long</key>
			<real>-122.41151323364</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8048493156961</real>
			<key>long</key>
			<real>-122.411668840726</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8050717804095</real>
			<key>long</key>
			<real>-122.410561780035</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8050009962552</real>
			<key>long</key>
			<real>-122.410785751851</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8050386635972</real>
			<key>long</key>
			<real>-122.410108930321</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8048292601321</real>
			<key>long</key>
			<real>-122.411888973025</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8073850150064</real>
			<key>long</key>
			<real>-122.414049808807</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.807429307713</real>
			<key>long</key>
			<real>-122.413810469727</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8076592889168</real>
			<key>long</key>
			<real>-122.413881624589</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8076541782312</real>
			<key>long</key>
			<real>-122.414099401622</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8071471965101</real>
			<key>long</key>
			<real>-122.415450373665</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8071608250459</real>
			<key>long</key>
			<real>-122.415734993112</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8074197677625</real>
			<key>long</key>
			<real>-122.415760867607</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8073925107059</real>
			<key>long</key>
			<real>-122.415547403022</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8069868048783</real>
			<key>long</key>
			<real>-122.41378664363</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8075481190463</real>
			<key>long</key>
			<real>-122.41219557025</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8077661749916</real>
			<key>long</key>
			<real>-122.412230069544</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8075481190463</real>
			<key>long</key>
			<real>-122.412439221679</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.802554672681</real>
			<key>long</key>
			<real>-122.41457269928</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8025002414614</real>
			<key>long</key>
			<real>-122.414828880501</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8032389043271</real>
			<key>long</key>
			<real>-122.416434030221</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8010681783178</real>
			<key>long</key>
			<real>-122.412547089117</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8008266347544</real>
			<key>long</key>
			<real>-122.412831256595</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8008692574689</real>
			<key>long</key>
			<real>-122.414209606051</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8069033348129</real>
			<key>long</key>
			<real>-122.410338768172</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.807059140443</real>
			<key>long</key>
			<real>-122.410687664404</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8072940953043</real>
			<key>long</key>
			<real>-122.414826821841</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8073540901944</real>
			<key>long</key>
			<real>-122.414609489079</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.807450288821</real>
			<key>long</key>
			<real>-122.414868717337</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8074782174311</real>
			<key>long</key>
			<real>-122.414686733823</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8061722055914</real>
			<key>long</key>
			<real>-122.413797092059</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8063518420286</real>
			<key>long</key>
			<real>-122.413838430716</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062795209306</real>
			<key>long</key>
			<real>-122.413825143294</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8064562409297</real>
			<key>long</key>
			<real>-122.413849503567</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>region</key>
	<array>
		<real>37.8050315413548</real>
		<real>-122.413632917219</real>
		<real>0.00978871051851371</real>
		<real>0.00816739331921212</real>
	</array>
</dict>
</plist>
