*.stamp
bin
obj
.vs
*/.vscode/settings.json
Newtonsoft.Json.*
NUnit.*
Xamarin.UITest*
Xamarin.TestCloud.Agent.*
MonoGame.Framework.*
Zlib.Portable*
FSharp.Data.*
CocosSharp.PCL*
*.userprefs
*.csproj.user
packages
*.DS_Store
*.lock.json
*.nuget.props
*.nuget.targets

github

github.pub
