<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Rotation</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-57</string>
		<string>icon-114</string>
		<string>icon-72</string>
		<string>icon-144</string>
		<string>icon-29</string>
		<string>icon-58</string>
		<string>icon-50</string>
		<string>icon-100</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.Rotation</string>
</dict>
</plist>
