<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This string is stored in the info.plist file.</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleDisplayName</key>
	<string>PrivacyPrompts</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.PrivacyPrompts</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>PrivacyPrompts</string>
	<key>NSCalendarsUsageDescription</key>
	<string>PrivacyPrompts App needs Calendars Access</string>
	<key>NSCameraUsageDescription</key>
	<string>PrivacyPrompts App needs Camera Access</string>
	<key>NSRemindersUsageDescription</key>
	<string>PrivacyPrompts App needs Reminders Access</string>
	<key>NSContactsUsageDescription</key>
	<string>PrivacyPrompts App needs Contacts Access</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PrivacyPrompts App needs Photo Library Access</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>PrivacyPrompts App needs Microphone Access</string>
	<key>NSMotionUsageDescription</key>
	<string>PrivacyPrompts App needs Motion Usage Access</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>PrivacyPrompts App needs Bluetooth Access</string>
</dict>
</plist>
