<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MapCallouts</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Resources/icon-57.png</string>
		<string>Resources/icon-114.png</string>
		<string>Resources/icon-72.png</string>
		<string>Resources/icon-144.png</string>
		<string>Resources/icon-29.png</string>
		<string>Resources/icon-58.png</string>
		<string>Resources/icon-50.png</string>
		<string>Resources/icon-100.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.mapcalloutsdemo</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MapCallouts</string>
</dict>
</plist>
