<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityNameKey</key>
		<string>Sydney</string>
		<key>latitudeKey</key>
		<string>-33.860</string>
        <key>longitudeKey</key>
		<string>151.211</string>
    </dict>  
    <dict>
        <key>cityNameKey</key>
		<string>San Francisco</string>
		<key>latitudeKey</key>
		<string>37.779</string>
        <key>longitudeKey</key>
		<string>-122.419</string>
    </dict>     
    <dict>
        <key>cityNameKey</key>
		<string>Berlin</string>
		<key>latitudeKey</key>
		<string>52.32</string>
        <key>longitudeKey</key>
		<string>13.25</string>
    </dict>
    <dict>
        <key>cityNameKey</key>
		<string>Paris</string>
		<key>latitudeKey</key>
		<string>48.857</string>
        <key>longitudeKey</key>
		<string>2.351</string>
    </dict>    
    <dict>
        <key>cityNameKey</key>
		<string>Mumbai</string>
		<key>latitudeKey</key>
		<string>18.975</string>
        <key>longitudeKey</key>
		<string>72.826</string>
    </dict>    
    <dict>
        <key>cityNameKey</key>
		<string>Moscow</string>
		<key>latitudeKey</key>
		<string>55.752</string>
        <key>longitudeKey</key>
		<string>37.618</string>
    </dict>   
    <dict>
        <key>cityNameKey</key>
		<string>Johannesburg</string>
		<key>latitudeKey</key>
		<string>-26.204</string>
        <key>longitudeKey</key>
		<string>28.046</string>
    </dict>   
</array>		
</plist>

