<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>AppShortcuts</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.applicationshortcuts</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>shortcutSubtitle1</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitle1</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.applicationshortcuts.First</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>firstShorcutKey1</key>
				<string>firstShortcutKeyValue1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeShare</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>shortcutSubtitle2</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitle2</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xamarin.applicationshortcuts.Second</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>secondShortcutKey1</key>
				<string>secondShortcutValue1</string>
			</dict>
		</dict>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>CFBundleDisplayName</key>
	<string>AppShortcut</string>
</dict>
</plist>
