<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon@2x</string>
		<string>Icon</string>
		<string>Icon-72</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.AsyncDownloadImage</string>
</dict>
</plist>
