<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>San Jose Sunset</string>
	<key>1</key>
	<string>White Orchid</string>
	<key>2</key>
	<string>Rainbow Rose</string>
	<key>3</key>
	<string>Kyoto Sunset</string>
	<key>4</key>
	<string>Sunset Porsche</string>
	<key>5</key>
	<string>Autumn Leaves</string>
	<key>6</key>
	<string>Golden Trio</string>
	<key>7</key>
	<string>Two Kings</string>
	<key>8</key>
	<string>Three Flags</string>
	<key>9</key>
	<string>Dahlia</string>
	<key>10</key>
	<string>Setting Sun</string>
	<key>11</key>
	<string>Ominous</string>
	<key>12</key>
	<string>Golden Lambo</string>
	<key>13</key>
	<string>Fire Flower</string>
	<key>14</key>
	<string>Pretty Rose</string>
	<key>15</key>
	<string>Hello</string>
	<key>16</key>
	<string>Cobra</string>
	<key>17</key>
	<string>Fall Fence</string>
	<key>18</key>
	<string>Two Friends</string>
	<key>19</key>
	<string>Big Sur</string>
	<key>20</key>
	<string>Inferno</string>
	<key>21</key>
	<string>Construction</string>
	<key>22</key>
	<string>Tilt</string>
	<key>23</key>
	<string>Little Leaves</string>
	<key>24</key>
	<string>Race Cobra</string>
	<key>25</key>
	<string>Paradise</string>
	<key>26</key>
	<string>Daisies</string>
	<key>27</key>
	<string>Abstract</string>
	<key>28</key>
	<string>Power</string>
	<key>29</key>
	<string>Overcast and Paint</string>
	<key>30</key>
	<string>Maple Colors</string>
	<key>31</key>
	<string>Bokeh</string>
</dict>
</plist>
