<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Using your location to show it on a map.</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>CFBundleDisplayName</key>
	<string>Map Demo</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.mapdemo</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>
