<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-72</string>
		<string>icon-144</string>
		<string>icon-50</string>
		<string>icon-100</string>
		<string>icon-29</string>
		<string>icon-58</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>SpriteTour</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.SpriteTour</string>
</dict>
</plist>
