<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>NSContactsUsageDescription</key>
	<string>MediaNotes App needs Contacts Access</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MediaNotes App needs Photo Library Access</string>
	<key>NSCameraUsageDescription</key>
	<string>MediaNotes App needs Camera Access</string>
</dict>
</plist>
