<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>AVCompositionDebugViewer</string>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.AVCompositionDebugViewer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
