<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Calendars</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Resources/57_icon.png</string>
		<string>Resources/114_icon.png</string>
		<string>Resources/72_icon.png</string>
		<string>Resources/144_icon.png</string>
		<string>Resources/29_icon.png</string>
		<string>Resources/58_icon.png</string>
		<string>Resources/50_icon.png</string>
		<string>Resources/100_icon.png</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
</dict>
</plist>
