<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Shared Res.</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Resources/icon-57.png</string>
		<string>Resources/icon-114.png</string>
		<string>Resources/icon-72.png</string>
		<string>Resources/icon-144.png</string>
		<string>Resources/icon-29.png</string>
		<string>Resources/icon-58.png</string>
		<string>Resources/icon-50.png</string>
		<string>Resources/icon-100.png</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleName</key>
	<string>Shared Res.</string>
	<key>NSContactsUsageDescription</key>
	<string>SharedResources App needs Contacts Access</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SharedResources App needs Photo Library Access</string>
	<key>NSCameraUsageDescription</key>
	<string>SharedResources App needs Camera Access</string>
</dict>
</plist>
